/* PRODUCT SECTION */
.product-hero {
  background: linear-gradient(
    90deg,
    var(--color-primary) 50%,
    var(--color-white) 50%
  );
  padding: 8rem 4rem;
  border-bottom: 1px solid var(--color-grey-light);
}
.product-hero__container {
  /* max-height: 70rem; */
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  justify-items: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.product-hero__container > * {
  /* width: calc(100% / 3); */
  min-width: 100%;
}

.product-hero__sub,
.product-hero__action-link {
  font-size: 1.2rem;
  margin-bottom: 9px;
}

.product-hero__action-link::after {
  content: url(/imgs/icons/rarr-black.svg);
  margin-left: 0.5rem;
}

.product-hero__title {
  font-size: 4.8rem;
  margin: 2rem 0;
}

.product-hero__rating {
  margin-top: 1rem;
}

.product-hero__text {
  font-size: 1.4rem;
  line-height: 157%;
}

.product-hero .product-hero__points {
  list-style: disc;
  padding-left: 2.2rem;
  margin-top: 1.2rem;
}

.product-hero__divider {
  margin: 1.6rem 0;
}

.product-hero__share {
  display: flex;
  align-items: center;
}

.product-hero__socials {
  display: inline-flex;
  gap: 1.5rem;
  margin-left: 1.5rem;
}

.product-hero__social,
.product-hero__social > a {
  display: contents;
}

.product-hero__price {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.9rem;
}

.product-hero__ingredients {
  display: flex;
  margin-top: 1rem;
}
.product-hero__ingredient {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.product-hero__ingredient-icon {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.product-hero__counts {
  display: flex;
  margin-top: 1.6rem;
  gap: 8px;
}

.product-hero__count {
  display: flex;
  font-size: var(--text-normal);
}
.product-hero__count-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 5rem;
  height: 5rem;
  border: none;
  background-color: var(--color-white);
}

.product-hero__count-radio {
  display: none;
}

.product-hero__count-radio:checked ~ .product-hero__count-label {
  border-bottom: 1px solid var(--color-secondary);
}

.product-hero__plan {
  display: flex;
  align-items: center;
}

.product-hero__plan:not(:last-child) {
  margin-bottom: 8px;
}

.product-hero__plan-radio {
  appearance: none;
  margin: 0;
  min-width: 2.4rem;
  min-height: 2.4rem;
  border: 1px solid var(--color-grey-light);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.product-hero__plan-radio::before {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--color-black);
}

.product-hero__plan-radio:checked::before {
  transform: scale(1);
}

.product-hero__plan-label {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.product-hero__plan-link {
  color: var(--color-black);
  border-bottom: 1px solid currentColor;
  line-height: 100%;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.product-hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  height: 4.8rem;
  width: 100%;
  color: var(--color-white);
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: var(--letter-spacing-normal);
  cursor: pointer;
  margin-top: 8px;
}

.product-hero__img-container {
  text-align: center;
}

.product-hero__img {
  max-height: 60rem;
  transform: translateX(-0.8rem);
  filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.3));
}

.product-hero__img-nav {
  margin-top: 7rem;
}

.product-hero__dots {
  display: inline-block;
  margin: 0 6rem;
}
.product-hero__dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--color-grey-light);
  margin: 0 0.5rem;
}
.product-hero__dot--active {
  background-color: var(--color-black);
}

.product-hero .accordion--open,
.product-hero .accordion--open .accordion__content {
  background-color: var(--color-grey-light);
}

.product-hero .accordion__title {
  font-size: 1.2rem;
}

.product-hero .accordion__content {
  background-color: var(--color-white);
}

/* ACCORDION */
.accordion {
  position: relative;
}
.accordion__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__title {
  font-size: 12px;
}

.accordion--open > .accordion__content {
  max-height: 10rem;
  visibility: visible;
  opacity: 1;
  padding: 1rem;
}
.accordion__content {
  z-index: 2000;
  background-color: var(--color-white);
  font-size: 1.4rem;
  transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out,
    padding 0.3s ease;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.accordions--absolute .accordion__content {
  position: absolute;
  top: 100%;
}

.accordion .accordion__icon::after {
  content: '+';
}

.accordion--open .accordion__icon::after {
  content: '\2014';
}

.accordion__icon {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

/* BENEFITS */
.benefits {
  padding: 8.5rem 0;
  text-align: center;
}
.benefits__desc {
  font-size: 1.4rem;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  line-height: 170%;
}

.benefits__bold {
  font-size: 12px;
}
.benefits__title {
  font-weight: var(--font-weight-bold);
  font-size: 4.8rem;
  text-align: center;
  line-height: 148%;
  margin-bottom: 2.4rem;
}
.benefits__ingredients {
  display: flex;
}

.benefits__ingredient {
  user-select: none;
  padding: 4rem;
}

.benefits__ingredient-title {
  font-weight: var(--font-weight-bold);
  font-size: 3.2rem;
  line-height: 3.6rem;
  padding: 1.8rem 0;
}

.benefits__ingredient-info {
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 170%;
  width: 95%;
}

/* ENJOY */
.enjoy {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 8rem 4rem;
}

.enjoy__container {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 47% 48%;
  justify-content: space-between;
}

.enjoy__title {
  font-weight: var(--font-weight-bold);
  font-size: 7rem;
  line-height: 7.8rem;
}

.enjoy__sub {
  color: inherit;
  font-size: 12px;
  margin-bottom: 1.7rem;
}

.enjoy__info {
  align-self: flex-end;
}

.enjoy__text {
  font-size: 14px;
  line-height: 170%;
}

.enjoy__img {
  grid-row: 1 / span 2;
  grid-column: 2 / 3;
  width: 100%;
  align-self: center;
}

/* RECIPES */
.recipes {
  background-color: var(--color-primary);
}
.recipes__container {
  padding: 4rem 0;
}

.recipes__sub {
  text-align: right;
  display: block;
  margin: 0 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-grey-light);
}

.recipes__list {
  display: flex;
  overflow: hidden;
  max-height: 100vh;
  padding: 0 4rem;
}

.recipe {
  min-width: 83%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding: 4rem 0;
}

.recipe__img-container {
  background-color: #eae5dd;
  position: relative;
}

.recipe__img {
  height: 100%;
  width: 75%;
}

.recipe__img-product {
  position: absolute;
  height: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

.recipe__details {
  margin-top: 10%;
  display: flex;
  padding: 4rem;
  align-items: flex-start;
  flex-direction: column;
}
.recipes__wrapper {
  position: relative;
}
.recipe__next-btn {
  border: none;
  position: absolute;
  height: 9.5rem;
  width: 9.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: var(--color-white);
  z-index: 9999;
  top: 50%;
  left: calc(83% - 2.5rem);
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
}

.recipe__author {
  font-weight: var(--font-weight-bold);
  font-size: 5.5rem;
  line-height: 148%;
  margin-bottom: 4rem;
}

.recipe__sub {
  font-size: 12px;
  margin-bottom: 1.7rem;
}

.recipe__ingredients {
  margin-bottom: 4rem;
}

.recipe__ingredient {
  font-size: 14px;
  line-height: 170%;
}

/* FAQS */
.faqs {
  min-height: 46.4rem;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 8rem;
  display: flex;
  align-items: center;
}
.faqs__container {
  display: flex;
  align-items: center;
}
.faqs__title {
  flex: 1 0 35%;
  font-size: 7rem;
  line-height: 7.8rem;
}

.faqs__list {
  flex: 1 0 65%;
  padding: 0 8rem;
  color: var(--color-white);
  /* background-color: white; */
}

.faqs__list * {
  color: var(--color-white);
}

.faq:first-child {
  border-top: 1px solid var(--color-grey-light);
}

.faq {
  border-bottom: 1px solid var(--color-grey-light);
  color: var(--color-white);
  display: block;
  padding: 2rem;
}

.faqs .accordion__content {
  background-color: var(--color-black);
}

/* ADDITIONAL PRODUCTS */
.additional-products__container {
  width: 100%;
  display: flex;
  max-width: var(--max-width);
}

.additional-products__title {
  font-weight: var(--font-weight-normal);
  font-size: 5.5rem;
  line-height: 148%;
  text-align: center;
  padding: 4rem 0 3rem;
}

.additional-products .product-card {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-grey-light);
  border-bottom: 1px solid var(--color-grey-light);
  flex: 1;
  padding: 2.5rem;
  user-select: none;
}

.additional-products .product-card:nth-child(odd) {
  border-right: 1px solid var(--color-grey-light);
  border-left: 1px solid var(--color-grey-light);
}

/* JOINUS */
.joinus__title {
  padding: 10rem 0 3.5rem;
}

/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
@media only screen and (max-width: 1000px) {
  .product-hero__container {
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }
  .product-hero__img-container {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  .enjoy__title {
    line-height: 10rem;
  }
  .enjoy__text {
    line-height: 140%;
  }

  .recipe__details {
    margin-top: 0;
    justify-content: center;
  }

  .recipe__author {
    font-size: 4.5rem;
  }

  .faqs {
    padding: 4rem;
  }

  .faqs__list {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 800px) {
  .product-hero {
    padding: 4rem 2rem;
  }

  .product-hero__img {
    max-height: 45rem;
  }

  .product-hero__text {
    font-size: 14px;
  }

  .product-hero__plan {
    padding: 0.5rem 0;
  }

  .benefits__ingredients {
    overflow: scroll;
  }

  .benefits__ingredient {
    flex: 1 0 50%;
  }

  .benefits__ingredient-img {
    height: 15rem;
    width: 15rem;
  }

  .enjoy {
    padding: 4rem;
  }

  .enjoy__container {
    display: flex;
    flex-direction: column;
  }

  .enjoy__title {
    order: -2;
  }

  .enjoy__img {
    max-height: 40rem;
    max-width: 100%;
    width: auto;
    order: -1;
    margin: 4rem 0;
  }

  .recipes__list {
    padding: 0 2rem;
  }
  .recipes__sub {
    padding: 0 2rem 2rem;
  }
  .recipe__details {
    padding: 2rem;
  }
  .recipe {
    min-width: 100%;
  }
  .recipe__next-btn {
    left: calc(100% - 5.2rem);
  }

  .benefits__desc {
    width: 80%;
  }

  .faqs {
    min-height: 60rem;
  }

  .faqs__container {
    flex-direction: column;
  }

  .faqs__title {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 5.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .product-hero {
    padding: 4rem 3rem;
    background: none;
  }
  .product-hero__container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .product-hero__img-container {
    order: -10;
    margin-bottom: 5rem;
    margin-left: -3rem;
    margin-right: -3rem;
    margin-top: -4rem;
    padding-top: 2rem;
    background: linear-gradient(
      180deg,
      var(--color-primary) 45%,
      var(--color-white) 45%
    );
  }

  .product-hero__title {
    font-size: 3.8rem;
    margin: 1.5rem 0;
  }

  .product-hero__info,
  .product-hero__order {
    display: contents;
  }

  .product-hero__sub,
  .product-hero__plan-label,
  .product-hero__action-link,
  .product-hero .accordion__title {
    font-size: 12px;
  }

  .product-hero .accordion__head {
    padding: 1rem 0;
  }

  .product-hero__block:nth-child(1) {
    order: -9;
  }

  .product-hero__block-share {
    order: 9;
  }

  .product-hero__divider {
    margin: 2.5rem 0;
  }

  .product-hero__action-link {
    display: block;
    text-align: center;
  }

  .benefits__title,
  .additional-products__title {
    font-size: 3.6rem;
  }

  .benefits__ingredient {
    flex: 1 0 100%;
  }

  .recipes {
    background-color: transparent;
    border-bottom: 1px solid var(--color-grey-light);
  }

  .recipe {
    display: block;
  }

  .recipe:not(:first-child) {
    margin-left: 4rem;
  }

  .recipe__next-btn {
    display: none;
  }

  .recipes__list {
    max-height: max-content;
  }

  .recipes__sub {
    margin: 0 2rem;
    text-align: center;
  }

  .enjoy__text {
    line-height: 170%;
  }

  .faqs {
    padding: 4rem 2rem;
  }

  .faqs__title {
    font-size: 4rem;
    line-height: 5rem;
  }

  .faqs__list {
    padding: 0;
  }

  .additional-products__container {
    overflow: scroll;
  }

  .additional-products .product-card {
    flex: 1 0 50%;
  }
}

@media only screen and (max-width: 400px) {
  .product-hero {
    padding: 4rem 2rem;
  }

  .enjoy__title {
    font-size: 5.6rem;
  }

  .faqs .accordion__title {
    line-height: 180%;
  }

  .product-hero__img-container {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .additional-products .product-card {
    padding: 1.5rem;
  }
}
