/* MAIN */
.main__title {
  text-align: center;
  font-size: 7rem;
  line-height: 6.4rem;
  margin: 4rem auto 6.2rem;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* CELL */

.cell {
  border: 1px solid var(--color-grey-light);
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2.4rem 4rem;
}

.cell__title {
  font-size: 5rem;
}

.cell__sub {
  font-size: var(--font-normal);
  font-weight: var(--font-weight-normal);
}

.cell__divider {
  background-color: var(--color-grey-light);
  width: 100%;
  height: 1px;
  border: none;
}

.cell__text {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
}

.cell__text--bold {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.cell--bg {
  background-color: var(--color-primary);
}

.cell--withimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: start;
  align-items: flex-start;
  padding: 4rem;
}
.cell__happy-hour {
  background-image: url(/imgs/shop/1.jpg);
}
.cell__new-lifestyle {
  background-image: url(/imgs/shop/2.jpg);
}
.cell__rich-flavor {
  background-image: url(/imgs/shop/3.jpg);
}
.cell__img-title {
  font-size: 8rem;
  line-height: 9rem;
  color: var(--color-white);
  width: 80%;
}

.cell--mobile-visible {
  display: none;
}

/* INGREDIENT */
.ingredients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.ingredient {
  flex: 1;
  padding: 1.5rem 0;
}

.ingredient__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  max-height: 4rem;
}

.ingredient__name {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: var(--letter-spacing-normal);
  text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
  .main__title {
    font-size: 6.4rem;
  }
  .cell {
    padding: 2.4rem;
  }
  .cell__img-title {
    font-size: 7rem;
    line-height: 9rem;
  }
}

@media only screen and (max-width: 900px) {
  .main__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .cell {
    padding: 2.4rem 4rem;
    min-height: 63rem;
  }
  .cell:last-child {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }
}

@media only screen and (max-width: 650px) {
  .cell {
    padding: 2.4rem;
    min-height: 63rem;
  }
}

@media only screen and (max-width: 500px) {
  .main__title {
    font-size: 5rem;
  }

  .cell--mobile-hidden {
    display: none;
  }

  .cell:nth-child(1) {
    grid-column: 1 / -1;
  }

  .cell:last-child {
    grid-row: initial;
    grid-column: initial;
  }

  .cell--bg {
    grid-column: 1 / -1;
    border: 1px solid var(--color-grey-light);
  }

  .cell {
    min-height: 45rem;
    padding: 4rem 2.4rem;
    border: none;
  }

  .cell__img-title {
    font-size: 4.6rem;
    line-height: 6rem;
  }

  .cell--mobile-visible {
    display: flex;
  }
}
